[
{'name': '1p-1c_Simple',
 'type': 'simple',
 'interval' : 1000,
 'params': [{ 
              'time-limit': 600,
              'producer-count': 1,
              'consumer-count': 1,
              'auto-ack': true,
              'min-msg-size' : 1024,
              'producer-rate-limit': 50
           }],
 'uri': 'amqp://AMQPWC'}
]
